<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ホーム | <%= conf.app.name %></title>
<%- include('../../common/includes/head.inc') %>
		<link rel="stylesheet" href="/common/px2dtGitUi/px2dtGitUi.css" type="text/css" />
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
	</head>
	<body>
<%- include('../../common/includes/header.inc') %>
		<div class="container">
			<h1>ホーム</h1>
			<div class="contents">

				<h2>基本的な手順</h2>
				<div class="row">
					<%#
					<div class="col-sm-3">
						<button class="px2-btn cont_mainmenu" onclick="main.subapp('fncs/sitemap/index.html');">サイトマップを編集する</button>
					</div>
					<div class="col-sm-3">
						<button class="px2-btn cont_mainmenu" onclick="main.subapp('fncs/theme/index.html');">テーマを編集する</button>
					</div>
					%>
					<div class="col-sm-12">
						<button class="px2-btn cont_mainmenu" onclick="main.subapp('fncs/pages/index.html');">コンテンツを編集する</button>
					</div>
					<%#
					<div class="col-sm-3">
						<button class="px2-btn cont_mainmenu" onclick="main.subapp('fncs/publish/index.html');">パブリッシュする</button>
					</div>
					%>
				</div><!-- / .row -->
				<%#
				<ul class="px2-horizontal-list px2-horizontal-list--right">
					<li><a href="javascript:main.getCurrentProject().open();" class="px2-link px2-link--burette">フォルダを開く</a></li>
					<li><a href="javascript:main.openInBrowser();" class="px2-link px2-link--burette">ブラウザで開く</a></li>
					<li><a href="javascript:main.openInTextEditor( contApp.pj.get('path') );" class="px2-link px2-link--burette">外部テキストエディタで開く</a></li>
					<li><a href="javascript:main.openInTerminal( contApp.pj.get('path') );" class="px2-link px2-link--burette">コマンドラインで開く</a></li>
				</ul>
				%>
				<ul class="px2-horizontal-list px2-horizontal-list--right">
					<%#
					<li><a href="javascript:main.subapp('fncs/config/index.html');" class="px2-link px2-link--burette">config.php を編集する</a></li>
					<li><a href="javascript:main.subapp('fncs/composer/index.html');" class="px2-link px2-link--burette">composer を操作する</a></li>
					%>
					<li><a href="javascript:main.subapp('fncs/git/index.html');" class="px2-link px2-link--burette">git</a></li>
				</ul>
				
				<p><button class="px2-btn" onclick="main.logout(); return false;">ログアウト</button></p>

			</div>
		</div>
<%- include('../../common/includes/footer.inc') %>

<%- include('../../common/includes/foot.inc') %>
		<script type="text/javascript" src="/common/px2dtGitUi/px2dtGitUi.js"></script>
		<script type="text/javascript" src="./index_files/scripts/contents.js"></script>
		<script>cont.init();</script>
	</body>
</html>
