<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ conf.app.name }}</title>
{% include 'common/includes/head.inc' %}
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
		<script id="template-login" type="text/template">
			<div><!--
				<p>Welcome!</p>
				<div class="list-group">
					<a href="{{ conf.px2server.origin }}/" target="_blank" class="list-group-item preview">プレビュー</a>
					<a href="/fncs/pages/" class="list-group-item">コンテンツ</a>
				</div>
				<p><button class="btn btn-secondary logout-button">LOGOUT</button></p>
			--></div>
		</script>
		<script id="template-login-form" type="text/template">
			<form action="javascript:;" method="get" class="login-form">
				<div class="login-form__input-item">
					<input type="text" name="user_id" class="form-control" placeholder="ユーザーID" />
				</div>
				<div class="login-form__input-item">
					<input type="password" name="password" class="form-control" placeholder="パスワード" />
				</div>
				<hr />
				<button class="px2-btn px2-btn--primary" type="submit">ログイン</button>
			</form>
		</script>
	</head>
	<body>
		<div class="container">
			<h1>{{ conf.app.name }}</h1>
			<div class="cont-main">
				<div class="contents">
				</div>
				<p class="cont_copyright">{{ conf.app.copyright }}</p>
			</div>
			<!-- <p>{% raw %}{{message}}{% endraw %}</p> -->
		</div>


{% include 'common/includes/foot.inc' %}
<script type="text/javascript" src="./index_files/scripts/contents.js"></script>
	</body>
</html>
